body{
    margin-top: 200px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: rgb(21, 20, 20);
    width: 100%;

  }
nav a:hover{
    text-decoration: none;
    color: rgb(218, 222, 228);}

header{

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    margin-bottom: 200px;
    height: auto;
}

.velkommen{
    text-align: center;
}

.quotes{
    text-align: center;
}